argparse
tqdm
libigl
pygltflib
polyscope>=2.3.0
warp-lang==1.2.1    # unused, installed to avoid cuda<12.0 version warnings if installed by other dependencies
-f https://nvidia-kaolin.s3.us-east-2.amazonaws.com/torch-2.1.2_cu118.html
kaolin==0.17.0
